# 项目环境变量

# NextAuth
# 生成 JWT 加密密钥，命令行执行：`openssl rand -base64 32`
AUTH_SECRET=your-secret-key                     # 例如: AUTH_SECRET=dkH0v9E+YN8WnPAqLGa4EEyuwyTvpSrXnVPeOrH25Dc=
# AUTH_URL=http://localhost:3000/api/auth

# Prisma
# 此文件中声明的环境变量会自动提供给 Prisma。
# 详见文档: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# 连接字符串格式详见: https://pris.ly/d/connection-strings
DATABASE_URL="SUBSTITUTE_SUPABASE_ANON_KEY"     # 例如: DATABASE_URL="postgresql://用户名:密码@ep-super-unit-1.eu-central-1.aws.neon.tech/数据库名?sslmode=require"

# SendGrid
# 用于发送邮件（或开发 magic link 身份验证）
AUTH_SENDGRID_KEY=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

# Google OAuth
# 请访问 https://console.cloud.google.com/apis/credentials 创建凭据
AUTH_GOOGLE_ID=your-google-Oauth2.0             # 例如: AUTH_GOOGLE_ID=567651309970-23rp816jgpjmi8lfpft2qs8cq706gqkq.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=your-secret                  # 例如: AUTH_GOOGLE_SECRET=JUCSPX-l_QYVXoPxr0pLVDEyNB4n3XzxAN9

# Stripe
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_12345
STRIPE_SECRET_KEY=sk_12345
STRIPE_SECRET_WEBHOOK_KEY=whsec_12345
NEXT_BASE_URL=http://localhost:3000
NEXT_PUBLIC_STRIPE_PORTAL_URL=                   # 例如: NEXT_PUBLIC_STRIPE_PORTAL_URL="https://billing.stripe.com/p/login/test_xxxxx"

# Google Analytics
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=                             # 例如: NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-123456789

# Mailgun 邮件设置
# 请访问 https://app.eu.mailgun.com/settings/api_security 获取 API Key
MAILGUN_API_KEY=xxxx-xx-xx                    # 例如: MAILGUN_API_KEY=48f648fd4229189885ca000000000000-00e4a3d5-883e27xx

# Google Tag Manager
NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID=                           # 例如: NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID=GTM-XXXXXX

# 管理员用户 ID（用于模拟登录的安全验证）
NEXT_PUBLIC_ADMIN_USER_ID=cm2mca7pk0000xc5782cbt6kl
